@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, 'Courier New', Courier, monospace;
    background-image: linear-gradient(to top,
        rgb(0, 200, 255) 0%,
        rgb(124, 213, 255) 35%, 
        rgb(188, 255, 254) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    max-height: 90vh;
    max-width: 600px;
    border: 3px solid rgb(82,70,188);
    border-radius: 20px;
    background-image: linear-gradient(to right,
        rgb(237, 167, 35) 0%,
        rgb(254, 191, 74) 20%,
        rgb(251, 188, 71) 50%,
        rgb(254, 191, 74) 80%,
        rgb(237, 167, 35) 100%);
}

.clock {
    display: flex;
    width: 100%;
}

.screen {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    width: 100%;
    height: 200px;
    border: 3px solid rgb(82,70,188);
    font-size: 2rem;
    font-family: "Orbitron", sans-serif;
    letter-spacing: 0.5rem;
    color: rgb(3, 208, 3);
    text-shadow:
        0 0 5px rgb(4, 190, 4),
        0 0 10px rgb(4, 190, 4),
        0 0 20px rgb(4, 190, 4);
    border-radius: 20px;
    background-color: rgb(47, 47, 47);
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
}

.display-hour {
    display: flex;
    flex: 1;
    padding-left: 20px;
    font-size: 16px;
}

.alarm-title {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 16px;
}

.alarm-clock {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    padding-right: 20px;
}

#alarm-pic {
    opacity: 0;
}

.date-time {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 40px;
    text-align: center;
}

.bottom-bar {
    display: flex;
    font-size: 16px;
    justify-content: center;
    flex: 0.5;
}

.side-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-left: 10px;
}

.side-buttons > button {
    margin-bottom: 10px;
    font-weight: 700;
    height: 30px;
    width: 60px;
}

.arrow-up {
    border: solid rgb(105,98,210);
    border-width: 0 10px 10px 0;
    padding: 10px;
    transform: rotate(-135deg);
    margin: 25px 10px 10px 10px;
    cursor: pointer;
    border-bottom-right-radius: 3px;
}

.arrow-up:active {
    border-right-color: rgb(82,70,188);
    border-bottom-color: rgb(82,70,188);    
}

.arrow-down {
    border: solid rgb(105,98,210);
    border-width: 0 10px 10px 0;
    padding: 10px;
    transform: rotate(45deg);
    margin: 10px 10px 30px 10px;
    cursor: pointer;
    border-bottom-right-radius: 3px;
}

.arrow-down:active {
    border-right-color: rgb(82,70,188);
    border-bottom-color: rgb(82,70,188);
}

.time-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
    margin-left: 10px;
}

.time-buttons > button {
    height: 30px;
    width: 60px;
    font-weight: 700;
    margin-left: 5px;
    margin-right: 5px;
}

.bottom-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
    padding-bottom: 10px;
}

.bottom-buttons > button {
    height: 30px;
    width: 60px;
    font-weight: 700;
}

button {
    border-radius: 10px;
    background-color: rgb(105,98,210);
    font-size: 11px;
    cursor: pointer;
    border: 2px solid rgb(71, 63, 184);
}

button:active {
    background-color: rgb(82,70,188);
    box-shadow: inset 0 0 2px rgb(173,175,244);
}
