* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.name-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 60px;
}

.name-container input {
    text-align: center;
    margin: 10px;
    outline: none;
    font-size: 18px;
    height: 30px;
}

.name-container h3 {
    text-align: center;
    font-size: 20px;
    max-width: 80px;
    margin: 20px 30px;
    word-break: break-all;
}

.cd-button {
    height: 30px;
    padding: 5px;
    background-color: rgb(0, 237, 16);
    border-radius: 15px;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: row;
    margin-right: 5%;
    margin-left: 10%;
    padding-bottom: 50px;
    height: 80vh;
    width: 80vw;
}

.titles {
    text-align: center;
    margin: 5px 5px 10px 5px;
}

.systemMessage {
    text-align: center;
    font-size: 12px;
    color: rgb(99, 99, 99);
}

.rooms {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.roomList {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin-bottom: 20px;
}

.selectRoom {
    height: 20%;
    width: 80%;
    margin: 10px;
    border: 2px solid rgb(98, 98, 98);
    border-radius: 5px;
    cursor: pointer;
}

.selectRoom.active {
    background-color: rgb(0, 237, 16);
}

#leaveButton {
    margin: 10px;
    height: 10%;
    background-color: rgba(237, 0, 0, 1);
    color: white;
    border: 2px solid rgb(98, 98, 98);
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
}

.display {
    display: flex;
    flex-direction: column;
    flex: 3;
    border: 2px solid black;
}

.message-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
}

.listMessages {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    max-height: 100%;
    list-style: none;
    row-gap: 10px;
    font-size: 14px;
}

.sendMessage {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    max-width: 60%;
    text-align: start;
    column-gap: 10px;
    align-items: center;
}

.sendMessage > p {
    flex: 1;
    border-radius: 10px;
    background-color: rgb(86, 176, 255);
    overflow-wrap: normal;
    padding: 5px;
}

.sendMessage > div {
    text-align: center;
    align-content: center;
    padding: 4px;
    max-height: 60px;
    max-width: 60px;
    border: 2px solid black;
    border-radius: 10px;
    word-break: break-all;
}

.receiveMessage {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    max-width: 60%;
    column-gap: 10px;
    align-items: center;
}

.receiveMessage > p {
    flex: 1;
    border-radius: 10px;
    background-color: rgb(185, 185, 185);
    overflow-wrap: normal;
    padding: 5px;
}

.receiveMessage > div {
    text-align: center;
    align-content: center;
    padding: 4px;
    max-height: 60px;
    max-width: 60px;
    border: 2px solid black;
    border-radius: 10px;
    word-break: break-all;
}

.timeStamp {
    align-self: flex-end;
    text-align: end;
    font-size: 0.7rem;
    padding: 5px;
}

.input-container {
    display: flex;
    align-items: center;
    border-top: 2px solid black;
    padding: 5px;
}

.message-bar {
    resize: none;
    height: 70px;
    width: 100%;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
}

.send-button {
    width: 100px;
    height: 35px;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
}

.online {
    display: flex;
    flex-direction: column;
    flex: 0.8;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    overflow-y: auto;
}

.user-list {
    list-style: none;
    text-align: center;
    padding: 5px;
    word-break: break-all;
}
